body
{
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px; /* Add rounded corners to buttons */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-bottom: 10px; /* Add space below buttons */
}

    button:hover {
        opacity: 0.8; /* Make button slightly transparent on hover */
    }

footer {
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}