body {
}
h1 {
    display: flex;
    justify-content: center;
    margin: 40px;
}

#books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    margin: 80px;
    padding: 40px;
   
   
}


.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #f9f9f9;
}
#search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    gap: 20px;
}
input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px;
    width: 40%;
}
/*same size for all img tags*/
img {
    width: 120px;
    height: 220px;
    border-radius: 10px;
}


button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px; /* Add rounded corners to buttons */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-bottom: 10px; /* Add space below buttons */
}

    button:hover {
        opacity: 0.8; /* Make button slightly transparent on hover */
    }

footer {
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.wishlistButton {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

    .wishlistButton.filled {
        color: red;
    }

.more-details {
    cursor: pointer;
}

.more-details:hover {
    color: #3498db;
}

#booksModal {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: fixed;
    /*left: 0;*/
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
    z-index: 1;
}

#modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 70px;
    padding: 20px;
    border: 1px solid #888;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation-name: modalopen;
    animation-duration: 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Ensure modal content stays within the modal */
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

@keyframes modalopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Adjust item sizes in modal */
#modal-content img {
    width: 40%;
    height: auto;
    margin-bottom: 10px;
}

#modal-content h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#modal-content p {
    font-size: 0.9em;
    margin-bottom: 10px;
}

#modal-content a {
    font-size: 0.9em;
    color: #3498db;
}

